<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="icon" href="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-1/p320x320/43337727_708503136149905_1174188726662725632_n.png?_nc_cat=101&oh=e9065ea68efa135e69ca237dc29ce545&oe=5C4AE567">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style media="screen">
    html{
      font-family: 'Oswald', sans-serif;
    }
      a:link, a:visited{
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
        font-size: 15px;
        color: rgb(23,201,3);
      }
      #gr{
        margin: 0 auto;
        width: 60%;
      }
      i{
        color:rgb(23,201,3);
      }
      #pic{
        width: 380px;
        height: 380px;
        border-radius: 50%;
        float: right;
        margin-right: 175px;
      }
    </style>
  </head>
  <body>
    <a href="/seekers">back</a>
    <img id="pic" src="https://www.indiewire.com/wp-content/uploads/2017/10/screen-shot-2017-10-10-at-4-27-22-pm.png?w=780" alt="">
    <div id="gr" class="">
      <h1>Terry, <%= seeker.seeker_age %>, <%= seeker.seeker_location %></h1>
      <p>4.6 rating <i class="fab fa-facebook-square"></i> <i class="fab fa-instagram"></i> <i class="fab fa-twitter-square"></i></p>
      <h2>Comments:</h2>
      <p>"Great with cats"</p>
      <i>-Grace</i>
      <p>"Dude loves cats"</p>
      <i>Ant</i>
      <p>"This guy doesn't like dogs at all"</p>
      <i>-Craig</i>
      <hr>
      <p><%= seeker.bio %></p>
      <p>
        <% if(seeker.seeker_pet){ %>
          <%= seeker.seeker_name %> has had pets for <%= seeker.years_owned %> years.
          <% } %>
        </p>
        <p>
          <% if(!seeker.seeker_pet){ %>
            <%= seeker.seeker_name %> has no pets
            <% } %>
          </p>
          <p><%= seeker.pet_experience%></p>

          <form action="/seekers/delete/<%= seeker.id %>" method="post">
            <input type="submit" value="unmatch">
          </form>

          <h2>Email Terry</h2>
          <textarea name="content" rows="8" cols="80" placeholder=""></textarea><br>
          <button type="button" name="button" id="email">email</button>
    </div>

    <script type="text/javascript">
      document.querySelector('#email').addEventListener('click', () =>{
        alert('Your email has been sent')
      })
    </script>
  </body>
</html>
